<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/logo/LogoSYF.png', width: 60, height: 40, alt: 'Logo'}"
    [navbarBrandMinimized]="{src: 'assets/img/logo/LogoSYF.png', width: 40, height: 30, alt: 'Logo'}"
    [sidebarToggler]="false" [mobileAsideMenuToggler]="false" [asideMenuToggler]="false">

    <h4 class="app-title">MPS for ciMES</h4>
    <ul class="nav navbar-nav ml-auto">
        <!-- <li class="btn-group">
            <button type="button button-translate" class="btn px-0 zoom" (click)="switchLang(langConstants.ZH)">
                <img class="img-translate" src="assets/img/icons/zh.png" alt="TW">
            </button>
            <button type="button button-translate" class="btn px-0 zoom" (click)="switchLang(langConstants.EN)">
                <img class="img-translate" src="assets/img/icons/en.png" alt="EN">
            </button>
            <button type="button button-translate" class="btn px-0 mr-2 zoom" (click)="switchLang(langConstants.VI)">
                <img class="img-translate" src="assets/img/icons/vn.png" alt="VN">
            </button>
        </li> -->
        <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li> -->
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                <h6 class="username">{{account}}</h6>
                <img src="assets/img/avatars/user.png" class="img-avatar" alt="avatar" />
            </a>
            <!-- <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" (click)="logout()" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div> -->
        </li>
    </ul>
</app-header>
