// Here you can add other styles
*:hover,
*:focus,
*:active {
  outline: none;
  box-shadow: none !important;
  appearance: none;
  -webkit-appearance: none;
}

app-403 {
  display: flex;
  flex-direction: column;
  min-height: 100vh vh;
}

app-header {
  background-color: #364150 !important;
  color: #fff;

  .app-title {
    font-weight: unset;
    margin-bottom: unset;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar-nav .nav-link {
    color: #fff;
  }
}

app-footer {
  padding: 15px !important;
}

app-sidebar-nav {
  app-sidebar-nav-items {
    background-color: #364150 !important;
  }
}

button {
  white-space: nowrap;
}

.button-translate:focus {
  outline: none;
}

.img-translate {
  width: 40px;
  height: 40px;
}

.sidebar .nav-link:hover {
  background: #000;
}

.pt-30 {
  padding-top: 30px !important;
}

h6.username {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.menu-margin a {
  padding-left: 23px !important;
}

table {

  // min-width: 1600px;
  &.table {
    thead {
      background-color: $primary;
      color: $white;
      height: 50px;
    }
  }
}

.ng-select-disabled .ng-select-container {
  background-color: #e4e7ea !important;
}

.cs-page {
  padding-top: 8px;
  margin-left: 10px !important;
}

.border-shadow {
  box-shadow: 0 0.1rem 1rem #00000026 !important;
  padding: 1rem;
  border-radius: 0.3rem !important;
  margin: 0px 0px 20px 0px;
}

// style col-xxl
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.checkAll .custom-control-input:checked~.custom-control-label::before {
  border-color: #fff;
}

.red_star {
  font-weight: 600;
  font-size: 1.2rem;
  color: red;
}



#wrap-print {
  display: none;
}
@media print {
  #wrap-print {
    display: block;
    #content-no-size {
      .header--title {
        text-align: center;
      }
      .nosize__qrcode {
        margin-top: -34px
      }
      .qrcode__title {
        font-weight: bold ;
      }
      .flex__colum {
        display: flex;
        flex-direction: column;
      }
      table {
        font-size: 10px;
      }
      table > tbody > tr > td {
        padding-right: 20px;
      }

      .body__margin-top {
        //margin-top: -22px !important;
        font-size: 10px
      }

      // .card-body {
        // border-bottom: #797171 solid 1px;
        //height: 360px !important;
      // }
    }
  }

  html, body {
    border: 1px solid white;
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
 }
}
